services:
  hello-db:
      image: mcr.microsoft.com/mssql/server:2022-latest
      container_name: hello-db-container
      environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=Dani2002
      ports:
        - "1433:1433"
      volumes:
        - sql-data:/var/opt/mssql

  hello-backend:
    image: hello-backend:latest
    container_name: hello-backend-container
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "8082:8080"
    depends_on:
      - hello-db

  hello-frontend:
    image: hello-frontend:latest
    container_name: hello-frontend-container
    ports:
      - "8081:80"
    depends_on:
      - hello-backend