version: '3.8'

services:
  sqlserver:
      image: mcr.microsoft.com/mssql/server:2022-latest
      container_name: sqlserver
      environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=Dani2002
      ports:
        - "1433:1433"
      depends_on:
        - sqlserver

  hello-backend:
    image: hello-backend:latest
    container_name: hello-backend-container
    ports:
      - "8088:8080"
      - "8089:8081"

  hello-frontend:
    image: hello-frontend:latest
    container_name: hello-frontend-container
    ports:
      - "8081:80"
    depends_on:
      - hello-backend