services:
  proddb:
      image: mcr.microsoft.com/mssql/server:2022-latest
      container_name: proddb
      environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=Dani2002
      ports:
        - "1435:1433"

  hello-backend-prod:
    image: hello-backend:latest
    container_name: hello-backend-prod-container
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "8090:8080"
      - "8091:8081"
    depends_on:
      - proddb

  hello-frontend-prod:
    image: hello-frontend-prod:latest
    container_name: hello-frontend-prod-container
    ports:
      - "8082:80"
    depends_on:
      - hello-backend-prod