version: '3.8'

services:
  hello-backend:
    image: hello-backend:latest
    container_name: hello-backend-container
    ports:
      - "8088:8080"
      - "8089:8081"

  hello-frontend:
    image: hello-frontend:latest
    container_name: hello-frontend-container
    ports:
      - "8081:80"
    depends_on:
      - hello-backend